.input {
    border: 1px solid var(--light);
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    padding: 4px 0px;
}

.input:focus {
    outline: none;
}

.title {
    text-align: left;
    font-weight: medium;
    width: 100%;
    margin-bottom: 4px;
}

.inputWrapper {
    width: 100%;
    
}

.input::placeholder {
    color: var(--light);
    opacity: 1;
}
