@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

h1 {
    font-size: 24px;
    font-weight: bold;
    color: var(--dark)
}

h2 {
    font-size: 24px;
    font-weight: bold;
    color: var(--dark)
}
h3 {
    font-size: 24px;
    font-weight: bold;
    color: var(--dark)
}
h4 {
    font-size: 24px;
    font-weight: bold;
    color: var(--dark)
}
h5 {
    font-size: 16px;
    font-weight: medium;
    color: var(--light);
    margin: 0;
}
h6 {
    font-size: 24px;
    font-weight: bold;
    color: var(--dark)
}

p {
    font-size: 16px;
    color: var(--dark)
}