

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  position: relative;
  z-index: 100;
  background-color: var(--white);
  max-width: 480px;
  box-shadow: 22px 4px 65px rgba(0, 0, 0, 0.56);
}




.form {
  margin-top: 32px;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

